* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(/bliss.webp);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.window {
  width: 100%;
  max-width: 350px;
}

.jg-logo {
  margin-bottom: 10px;
}

.font-lg {
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
}

.window-body {
  padding: 30px 25px;
}

img {
  width: 100%;
}
