* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  max-width: 450px;
  text-align: center;
  padding: 20px;
  width: 100%;
  font-family: "Comic Neue", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
}

img {
  width: 100%;
}

.legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin-top: 100px;
  font-family: sans-serif;
  font-weight: normal;
  color: #999;
  font-size: 12px;
}
